@charset "UTF-8";

* {
    color: #5c0000;
}



html {
    background-color: #fffc60;
}



body {
    width: 800px;
    margin: 0px auto;
}




/* テーブルの設定 */
table {
    margin-top: 100px;
    background-color: #5c0000;
}





/* テーブルとtdセルの設定 */
table, table tr td {

    margin: 0px auto;

    /* 枠線の設定 */
    border-color: #5c0000;
    border-style: solid;
    border-width: 1px;
}




/* tdセルの設定 */
table tr td {
    /* セルの大きさ */
    width: 50px;
    height: 50px;

    /* フォント */
    font-size: 25px;
    font-weight: 700;
    text-align: center;

    /* テキスト選択：無効 */
    user-select: none;
}

h1, p {
    text-align: center;
}


input {
    width: auto;
    margin-left: 350px;
}