@charset "UTF-8";

/* テーブルとtdセルの設定 */
table, table tr td {

    /* 枠線の設定 */
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}




/* tdセルの設定 */
table tr td {
    margin-top: 25px;

    /* セルの大きさ */
    width: 50px;
    height: 50px;

    /* フォント */
    font-size: 25px;
    font-weight: 700;
    text-align: center;

    /* テキスト選択：無効 */
    user-select: none;
}





